body {
    font-family: 'Rubik', sans-serif;
    background: #efefef;
}
h1 {
    font-size: 36px;
    margin-bottom: 10px;
    line-height: 1.4;
}
h3 {
    margin-top: 16px;
    font-size: 16px;
}
h4 {
    line-height: 1.4;
}
h5 {
    margin-top: 16px;
    margin-bottom: 24px;
}

p {
    margin-top: 24px;
  font-size: 22px;
}

.name-text, .phone-text {
    display: inline-block;
    margin-top: 36px;
    font-size: 22px;
}

.name-text {
    margin-top: 0px;
}

.desc {
        font-size: 18px;
    margin-top: 48px;
    margin-bottom: 36px;
}

desc input:active {.
    border: none
    border-bottom: solid 1px #185993;
}

input[type="radio"] {
    transform: scale(1.6);
    cursor: pointer;
    margin-top: 8px;
    margin-right: 10px;
}

.container {
    background-color: #fff;
    min-width: 320px;
    max-width: 800px;
    padding: 30px;
    padding-top: 30px;
    border: solid 1px #b1b3b7;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 0px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

label {
    display: inline-block;
    font-weight: normal;
    margin-bottom: 5px;
    max-width: 100%;
    cursor: pointer;
}

@media (min-width: 500px) and (max-width: 992px) {
    h1 {
        font-size: 27px;
    }
    h4 {
        font-size: 15px;
    }
    h5 {
        font-size: 15px;
        font-weight: 100;
    }
    .desc {
        font-size: 15px;
        margin-top: 27px;
        margin-bottom: 27px;
    }
    .desc p {
        font-size: 19px;
    }
    .name-text, .phone-text {
        font-size: 19px;
    }
    .container {
        padding: 20px;
        padding-top: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

@media (min-width: 0px) and (max-width: 500px) {
    h1 {
        font-size: 19px;
    }
    h4 {
        font-size: 13px;
    }
    .desc {
        font-size: 13px;
        margin-top: 27px;
        margin-bottom: 27px;
    }

    h5 {
        font-size: 13px;
        font-weight: 100;
    }
    .desc p {
        font-size: 15px;
    }
    .container {
        padding: 15px;
        padding-top: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .name-text, .phone-text {
        font-size: 15px;
    }
}

